h1 {
    background-color: dodgerblue;
    text-align: center;
    padding: 25px
}

ul{
    font-size: 25px;
    background: yellow;
    width: 500px;
    margin: 50px auto 50px;
}

ol {
    font-size: 30px;
    background-color: aquamarine;
    width: 500px;
    margin: 50px auto 50px;
}

h2 {
    font-weight: bolder;
    color: green;
    text-decoration: underline;
}